---
layout: default
title: API
description: page
---
<!doctype html>
<html>
<head>
  <h4>
    {% include navigation.html %}
  </h4>
</head>

<body>
  <h2 class="page_top" style="color: #ff99cc;">API docs</h2>

  <ol class="rounded">
    {% for post in site.posts %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}<h6>{{ post.description }}</h6></a></h2>
      <!-- <p> {{ post.content | markdownify | strip_html | truncatewords: 30 }}</p> -->
    </li>
    {% endfor %}
  </ol>
</body>
</html>
