#content {
 width: 500px;
 margin: 0 auto 50px;
}
#footer {
 position: fixed;
 left: 19%; bottom: 0;
 color: #000000;
 width: 100%;
}
.topbutton {
width:100px;
border:2px solid #ccc;
background:#f7f7f7;
text-align:center;
padding:10px;
position:fixed;
bottom:50px;
right:50px;
cursor:pointer;
color:#333;
font-family:verdana;
font-size:12px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
}
#pic {
  float: right;
}

#text {
  margin-right: 270px;
}
p.dline {
    line-height: 1.5;
   }
